ul.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #373737;
    margin: 0;
    padding-left: 0;
}

ul.menu li {
    list-style-type: none;
    background-color: #373737;
    color: #fff;
    padding: 10px 12px;
    line-height: 1.8;
    cursor: pointer;
}

ul.menu li.active {
    background-color: #8DC63F;
}