body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #ccc;
}

*::-webkit-scrollbar-thumb {
  background: #aaa;
}